body{
background-image: url(../public/images/sun1.jpeg);
/* min-height:370px; */
background-repeat: no-repeat;
background-size: cover;
background-size: 100% 220%;
}
.top{
    color: antiquewhite;
}
.footer{
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.677);
    
}

